body {
    font-size: 15pt;
    background-color: #fff;
    margin:0px;
    height: auto;
    width: 100%;
    padding: 0px;
   }
.head {
  font-size: 100%;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  padding-bottom: 0;
}
.head1{
  
  color: #111D9BB0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  padding-top: 0;
}
.header{
  align-items: left;
  line-height: 1px;
  margin-left: 20px;
  margin-top: 10px;
}
.navigation{
  background-color:#FFFAF9;
  height:100%;
  width: 100%;
  box-shadow: 0 3px 1px #DCDCDC;
  display: grid;
  gap: 5%;
  grid-auto-flow: column;
 

  }
  

.route{
  margin-top: 1px;
  font-size: 100%;
  align-items: right;
  display: grid;
  gap: 7%;
  grid-auto-flow: column;
  
}
.link{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 350;
  color: #5C5C5C;
  padding-top: 30px;
  font-size: 55%;
  text-decoration: none;
}

.project_link{
  font-weight: 350;
  font-size: 90%;
  text-align: left;
  margin-left: 20px;
  color: #4A4A4A;
  font-family: sans-serif;
  text-decoration: underline #111D9B7A;
  padding-bottom: 5px;
  line-height: 25px;
}

.image{
  height:auto;
  width: 100%;
  margin-left: 0px;
  position: relative;
  
  
}
.container{
  display: grid;
  gap: 5%;
  grid-auto-flow: row;
  height: 100%;
  width: 100%;
}

.word{
  text-align: left;
  font-size: 100%;
  font-weight: 700;
  margin-left: 20px;
  color: #000000F2;
  font-family : sans-serif;
  animation: fontbulger 4s infinite;
  
 
}
.word-variant{
  text-align: left;
  font-weight: 350;
  margin-left: 20px;
  color: #4A4A4A;
  font-family: sans-serif;
  font-size: 90%;
  text-decoration: underline #111D9B7A;
  padding-bottom: 5px;
  line-height: 25px;
}

.image-resize{
  height: 5em;
  width: 8em;
}

.cto{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
  color: #fff;
  padding-left: 5px;
  margin-right: 5px;
  padding-top: 30px;
 
  text-decoration: none;
  background-color: #111D9BB0;
  border-radius: 0rem 0rem 20rem 10rem;
  box-shadow: 1px 1px 4px #ddd;
 
 height: 40%;
 width:80%;
 font-size: 40%;
 
}

.body-content{
  padding: 0;


}

.body-content-center{

}

.forms{
  flex: content;
  flex-wrap: wrap;
  margin-left: 50%;
  font-size: 100%;
  border: 1px solid  #111D9BB0;
  padding: 3%;
  width: auto;

}

.submit-btn{
color:  #fff;
background-color:  #111D9BB0;
border: 0px;
border-radius: 10px;
}

.footer{
  margin-top: 100%;
  width: 100%;
  background-color: #111D9BB0;
  color : #fff;
  font-family: monospace;
  font-size: 70%;
  font-weight: 350px;

  
}

.fc{
  text-align: center;
  
  
}

@keyframes fontbulger {
  0% {
    font-size: 90%;
  }
  50% {
    font-size: 100%;
    
  }
  100%{
    font-size: 90%;
  }
}


   
